/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*min-height: 100px;
  height: auto; */
}

body {
  /*min-height: 0;
  height: auto; */
}

/* Main app container */
.app {
  display: flex;
  flex-direction: column;
  /*width: 100vw;
  max-width: 1440px; */
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Tablet: range 769px to 1024px (responsive) */
@media (min-width: 600px) and (max-width: 1024px) {
}

@media (max-width: 599px) {
  .app {
    width: 320px;
    height: 100%;
  }
}
